.uk-list-divider {
  border-top: 1px solid @global-border;
  margin-bottom: @global-margin;

  > li:first-child {
    padding-top: 10px;
  }

  > li:last-child {
    padding-bottom: 10px;
  }
}

.uk-list-large.uk-list-divider {

  > li:first-child {
    padding-top: 20px;
  }
}

a.uk-light:hover {
  color: @global-inverse-color;
}

.uk-margin-xsmall-bottom {
  margin-bottom: 5px;
}

.uk-light .uk-select:not([multiple]):not([size]),
.uk-section-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-section-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-tile-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-tile-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-card-primary.uk-card-body .uk-select:not([multiple]):not([size]),
.uk-card-primary > :not([class*='uk-card-media']) .uk-select:not([multiple]):not([size]),
.uk-card-secondary.uk-card-body .uk-select:not([multiple]):not([size]),
.uk-card-secondary > :not([class*='uk-card-media']) .uk-select:not([multiple]):not([size]),
.uk-overlay-primary .uk-select:not([multiple]):not([size]),
.uk-offcanvas-bar .uk-select:not([multiple]):not([size]),
.uk-select:not([multiple]):not([size]) {
  background-image: none;
}

.uk-dark {
  color: @global-color;

  h1, h2, h3, h4, h5, h6 {
    color: @global-emphasis-color;
  }

  a:not(.uk-button) {
    color: @global-link-color;

    &:hover {
      color: @global-link-hover-color;
    }
  }

  .uk-close {
    color: @global-muted-color;
  }

  .uk-input {
    color: @global-color;
    border-color: @global-border;
  }

  .uk-checkbox {
    background-color: transparent;
    border-color: @global-border;

    &:focus {
      border-color: @global-border;
    }
  }

  .uk-text-muted {
    color: @global-muted-color !important;
  }
}

.uk-list ul.uk-iconnav {
  padding: 0;
  margin-left: -10px;
}

[class*='uk-column'] {

  > label, > li {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
}

.fa {
  line-height: inherit;
}

header {

  .uk-navbar {
    max-width: 1200px;
    margin: 0 auto;
  }

  .uk-button-small {
    font-size: @global-font-size;
  }
}

footer {
  background-color: #dadada;
}

aside {

  h3 {
    margin-bottom: 30px;
    line-height: 1;
  }

  > .uk-grid + .uk-grid,
  > .uk-grid > .uk-grid-margin,
  > * + .uk-grid-margin {
    margin-top: 40px;
  }
}



// form

input:checked + label.uk-button-simple-orange {
  background-color: darken(@global-orange, 10%);
  color: @global-inverse-color;
}

label.uk-button-simple-orange {
  background-color: #fff;
}

form {

  hr, .uk-hr {
    border-top: 1px solid #d8d8d8;
  }
}

.tm-grid-smallest {
  margin-left: -2px;

  > * {
    padding-left: 2px;
  }
}

.uk-grid + .tm-grid-smallest, .tm-grid-smallest > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 2px;
}

.tm-grid-best-photo {
  margin-left: -3px;

  > * {
    padding-left: 3px;
  }
}

.tm-section-medium {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-section-scoreboard {
  padding-top: 30px;
  padding-bottom: 30px;
}

.uk-grid + .tm-grid-best-photo, .tm-grid-best-photo > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 3px;
}

.tm-grid-small {
  margin-left: -4px;

  > * {
    padding-left: 4px;
  }
}

.uk-grid + .tm-grid-small, .tm-grid-small > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 6px;
}

.tm-grid-4 {
  margin-left: -4px;

  > * {
    padding-left: 4px;
  }
}

.uk-grid + .tm-grid-4, .tm-grid-4 > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 4px;
}

.tm-grid-photo {
  margin-left: -6px;

  > * {
    padding-left: 6px;
  }
}

.uk-grid + .tm-grid-photo, .tm-grid-photo > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 6px;
}

.tm-grid-search {
  margin-left: -8px;

  > * {
    padding-left: 8px;
  }
}

.uk-grid + .tm-grid-best-photo, .tm-grid-best-photo > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 8px;
}

.tm-grid-10 {
  margin-left: -10px;

  > * {
    padding-left: 10px;
  }
}

.uk-grid + .tm-grid-10, .tm-grid-10 > .uk-grid-margin, * + .uk-grid-margin-small {
  margin-top: 10px;
}

.tm-input-shadow {
  border: none;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.56), inset 0px 1px 2px 0 rgba(72, 114, 158, 0.61);
}

.tm-registration {

  label {
    line-height: @global-control-small-height;
  }

  .uk-grid + .uk-grid-large, .uk-grid-large > .uk-grid-margin, * + .uk-grid-margin-large {
    margin-top: 10px;
  }
}

.tm-form-companions {

  [class*='uk-column'] label {
    margin-bottom: 10px;
  }

  .uk-form-label {
    text-transform: none;
  }
}

.tm-form-social {

  .uk-form-icon {
    border-right: 1px solid @global-border;
  }
}

.tm-form-question {

  .uk-form-label {
    text-transform: none;
  }

  .tm-button-submit {
    width: 350px;
    max-width: 100%;
    font-family: @font-lato-medium;
    font-size: 20px;
  }
}

.tm-checkbox-blue {

  .tm-checkbox {
    display: block;
    position: relative;
    padding: 15px 15px 15px 50px;
    background-color: rgba(0, 0, 0, 0.3);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-family: FontAwesome;
      color: @global-blue;
      text-align: center;
      border: solid 1px @global-blue;
    }
  }

  input:checked + .tm-checkbox::before {
    content: '\f00c';
  }
}

.tm-checkbox-set {

  .tm-checkbox {
    display: block;
    line-height: @global-control-small-height;
    text-align: center;
    background-color: #fff;
    border: 1px solid @global-border;
  }

  input:checked + .tm-checkbox {
    color: @global-primary-background;
    border-color: @global-primary-background;
  }
}

.tm-form-pageheader {

  .uk-input, .uk-select:not([multiple]):not([size]) {
    height: 48px;
  }

  .uk-grid-collapse > .uk-grid-margin {
    margin-top: 10px;
  }
}

.tm-authorization {
  width: 415px;
  max-width: 100%;
}

.tm-login {
  padding: 30px 50px 20px;
}

.tm-authorization-footer {
  padding: 20px 50px 25px;
}

.tm-login-social {
  line-height: 1;
  padding: 10px;
  border: solid 1px @global-border;
}

.tm-search-header {
  position: relative;
  font-size: 25px;
  padding: 5px 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    border-bottom: 3px solid @global-primary-background;
  }

  .uk-input, .uk-input:focus {
    background-color: transparent;
    color: #6f8faf;
    border-color: transparent;
  }

  .uk-input::placeholder {
    color: #6f8faf;
  }

  .uk-form-icon {
    font-size: 30px;
    color: #fff;

    &:not(.uk-form-icon-flip) ~ .uk-input {
      padding-left: 50px !important;
    }
  }

  .uk-button-small {
    font-size: 12px;
  }
}

.tm-search-form-width {
  width: 285.5px;
  max-width: 100%;
}

//navbar

header {
  z-index: 100;
}

.tm-pageheader {
  min-height: 500px;

  .uk-navbar-container {
    background: transparent;
  }

  .tm-navbar-active {
    background-color: @global-primary-background;
  }
}

.tm-pageheader-main {
  background: url("../images/bg_pageheader_main.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-visas {
  background: url("../images/visa_header_bg.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-companions {
  background: url("../images/companions_header_bg.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-airlines {
  background: url("../images/header_bg_airlines.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-questions {
  background: url("../images/header_bg_questions.jpg") no-repeat center;
  background-size: cover;
}

.tm-navbar-active {
  background-color: @global-primary-background;
}

.tm-navbar-item-active {
  background-color: @navbar-dropdown-background;
}

.tm-navbar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @global-half-black;
  display: none;
}

// nav

.tm-nav-divider {
  > li:nth-child(n+2) {
    border-top: 1px dashed @global-border;
  }

  //>li:last-child {
  //  border-bottom: 1px dashed @global-half-black;
  //}
}

.tm-contents-nav {
  border-top: none;

  > li:nth-child(n+2) {
    border-top-color: #c6c6c6;
  }

  > li > a {
    padding: 0;
  }
}


//subnav

.tm-subnav-orange {

  > * {

    > :first-child {
      padding: 0 30px;
      background: transparent;
      color: @global-color;
      line-height: 28px;
      font-family: 'LatoWebMedium';
      border: 1px solid @global-orange;
    }

    > a:hover, .uk-subnav-pill > * > a:focus {
      background-color: @global-orange;
      color: #fff;
      border-color: @global-orange;
    }
  }

  > .uk-active > a {
    background-color: @global-orange;
    color: #fff;
    border-color: @global-orange;
  }
}

//list
.tm-news-list {

  .uk-link-text {
    font-family: @font-lato-bold;
  }
}

.tm-city-description-list {
  background-color: #e9eef3;

  .tm-list-bullet > li {
    position: relative;
    padding-left: 12px;

    &::before {
      content: '\f111';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 18px;
      font-family: FontAwesome;
      font-size: 8px;
      color: #a2a2a2;
    }

    &:nth-child(n+2) {
      margin-top: 0;
    }
  }
}

.tm-country-description-list {

  > dt {
    color: #fff;

    &:nth-child(n+2) {
      border-top-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.tm-visited-list {

  .uk-grid + .uk-grid-medium, .uk-grid-medium > .uk-grid-margin, * + .uk-grid-margin-medium {
    margin-top: 10px;
  }
}

.tm-indicator {
  display: flex;
  margin-bottom: 4px;
  line-height: 21px;
  font-family: @font-lato-regular;
  font-size: 12px;
  color: #fff;

  > div:first-of-type {
    width: 21px;
    margin-right: 5px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.tm-indicator-green {
  width: 95px;
  background-color: #67c751;
}

.tm-indicator-red {
  width: 149px;
  background-color: #fd5959;
}

.tm-indicator-blue {
  width: 127px;
  background-color: #4797e0;
}

.tm-indicator-black {
  width: 108px;
  background-color: #444;
}

// buttons
.tm-button-text-small {
  font-size: @global-small-font-size;
  text-transform: uppercase;
}

.tm-button-text-default {
  font-size: @global-font-size;
  text-transform: none;
}

.tm-button-icon {
  width: 51px;
  height: 51px;
  line-height: 51px;
  padding: 0;
  font-size: 32px;
  border: none;
}

.tm-button-big {
  padding: 16px 30px;
  line-height: 26px;
  font-family: @font-lato-bold;
  font-size: 18px;
}

.tm-button-padding-big {
  padding: 0 80px;
}


// social buttons
.tm-social {

  > * {
    padding-left: 5px;
  }

  i {
    width: 34px;
    height: 34px;
    font-size: 19px;
    line-height: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

// text

.tm-h4-control-height {
  line-height: 34px;
}

.tm-line-height-big {
  line-height: 2;
}

.tm-line-height-medium {
  line-height: 25px;
}

.tm-image-shadow {
  box-shadow: inset 0 -80px 80px -40px #fff;

  img {
    position: relative;
    z-index: -1;
  }
}

.tm-article-footer {
  font-size: 14px;
  border-top: 2px solid @global-blue;

  .tm-button-more {
    position: relative;
    top: -16px;
    line-height: 23px;
    color: #666;

    &:hover {
      color: #666;
    }
  }
}

.tm-article-title {
  font-size: 20px;
  font-family: @font-lato-bold;
  line-height: 1.2;
}

.tm-text-italic {
  font-style: italic;
}

// content

.tm-overlay-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-overlay-light {
  background-color: rgba(255, 255, 255, 0.5);
}

.tm-font-size-30 {
  font-size: 30px;
}

.tm-hr {
  border-top: 1px solid #d8d8d8;
}

.tm-hr-thin {
  border-top-width: 1px;
}

.tm-hr-tracery {
  position: relative;
  margin: 35px 25px;
  border-top: 2px dotted #acc0d3;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    width: 25px;
    height: 26px;
    transform: translateY(-50%);
  }

  &::before {
    left: -25px;
    background: url("../images/icon_hr_left.png") no-repeat;
  }

  &::after {
    right: -25px;
    background: url("../images/icon_hr_right.png") no-repeat;
  }
}

.tm-width-215 {
  width: 215px;
  max-width: 100%;
  box-sizing: border-box;
}

.tm-padding-10 {
  padding: 10px;
}

.tm-padding-10-20 {
  padding: 10px 20px;
}

.tm-margin-bottom-15 {
  margin-bottom: 15px;
}

.tm-margin-bottom-45 {
  margin-bottom: 45px;
}

.tm-background-grey {
  background-color: #d9d9d9;
}

.tm-bordered {
  border: 1px solid @global-border;
}

.tm-button-expand-map {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.tm-panel-bordered {
  padding: 30px 25px;
  border: 1px solid @global-border;
}

.tm-card {
  min-height: 227px;
  padding: 15px 20px;
  font-size: 18px;
}

.tm-card-small {
  min-height: 162px;
  padding: 10px 20px;
  font-size: 16px;
}

.tm-card-large {
  min-height: 344px;
  padding: 15px 20px;
  font-size: 22px;
  line-height: 1;
}

.tm-interesting {

  .uk-card-small {
    min-height: 198px;
  }
}

.tm-companion-item {

  h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  }
}

.tm-new-blogs {
  font-size: 14px;

  .uk-text-small {
    font-size: 11px;
  }
}

.tm-blog-title {
  display: block;
  height: 44px;
  overflow: hidden;
  line-height: 22px;
  font-size: 20px;
  font-family: @font-lato-bold;
}

.tm-blog-footer {

  .uk-text-small {
    font-size: 12px;
  }
}

.tm-pages-list {

  a {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    font-size: 15px;
    line-height: 1.9;

    > span {
      position: relative;
      padding-left: 28px;

      &::before {
        content: '\f0a3';
        display: inline-block;
        position: absolute;
        left: 0;
        line-height: 25px;
        font-family: FontAwesome;
        font-size: 13px;
        color: #aba4a4;
      }
    }


    &:last-of-type {
      margin-right: 0;
    }
  }
}

.tm-slider-content {
  padding: 0 70px;
}

.tm-grid-divider {

  > * {
    position: relative;
  }

  > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid @global-border;
  }
}

.tm-purpose-list {

  li {
    padding: 0 20px;
    line-height: @global-control-small-height;
    border: 1px solid @global-border;
    white-space: nowrap;
  }
}

.tm-articles-list {

  .uk-article {
    padding: 30px;
    border: 1px solid @global-border;
  }

  .tm-social {

    i {
      font-size: 17px;
      color: @global-color;
      border-color: @global-border;
      border-radius: 0;
      transition: all 0.1s ease-in-out;
    }

    a:hover i {
      border-color: @global-color;
    }
  }

  .tm-user-about {
    padding-right: 30px;
  }
}

.tm-last-materials {
  width: 183px;

  h3 {
    line-height: 0.75;
  }
}

.tm-questions-list {

  > li {
    border: 1px solid #dfdfdf;
  }
}

.tm-reply-list {

  p, ul, ol, dl {
    margin-bottom: 10px;
  }

  * + p, * + ul, * + ol, * + dl {
    margin-top: 10px;
  }

  .uk-comment-body {
    position: relative;
    padding: 15px 20px;
    background-color: #fff;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      border: 7px solid transparent;
      border-top-color: #fff;
      border-right-color: #fff;
    }
  }
}

.tm-tape-list {
  border-top: 1px solid #dfdfdf;

  .uk-article {
    border: none;
    border-bottom: 1px solid #dfdfdf;
  }
}

.tm-list-globe, .tm-list-count, .tm-list-arrow {

  > li:nth-child(n+2), > li > ul {
    margin-top: 20px;
  }
}

.tm-list-globe {

  li {
    position: relative;
    padding-left: 30px;

    &::before {
      content: "\f0ac";
      font-family: FontAwesome;
      font-size: 18px;
      color: @global-orange;
      position: absolute;
      top: -1px;
      left: 0;
    }
  }
}

.tm-list-point {

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  > li {
    position: relative;
    padding-left: 13px;

    &::before {
      content: "\f041";
      font-family: FontAwesome;
      font-size: inherit;
      color: @global-orange;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-child(n+2), .uk-list > li > ul {
      margin-top: 5px;
    }
  }
}

.tm-list-question {

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    position: relative;
    padding-left: 26px;

    &::before {
      content: "\f059";
      font-family: FontAwesome;
      color: @global-orange;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.tm-list-count {
  counter-reset: item;

  > li {
    position: relative;
    padding-left: 35px;

    &::before {
      content: counter(item);
      counter-increment: item;
      color: #fff;
      text-align: center;
      background-color: @global-orange;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      left: 0;
      min-width: 25px;
      min-height: 25px;
      padding: 0 5px;
      line-height: 25px;
      box-sizing: border-box;
    }
  }
}

.tm-list-arrow {
  padding-left: 20px;

  li {
    position: relative;

    &::before {
      content: "\f054";
      font-family: FontAwesome;
      font-size: 14px;
      color: @global-primary-background;
      position: absolute;
      top: 2px;
      left: -20px;
    }
  }
}

.tm-list-info {

  > li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "\f05a";
      font-family: FontAwesome;
      color: #990000;
      position: absolute;
      top: -1px;
      left: 0;
    }

    &:nth-child(n+2), > ul {
      margin-top: 0;
    }
  }
}

.tm-marker-file {
  color: #000;
  border: 1px solid @global-border;
  width: 370px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 25px 40px 25px 70px;

  &::before {
    content: '';
    background: url("../images/icon-file.png") no-repeat;
    display: block;
    width: 33px;
    height: 43px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}

.tm-marker-question {
  position: relative;
  padding-left: 53px;

  &::before {
    content: '?';
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    font-size: 37px;
    color: @global-muted-color;
    text-align: center;
    line-height: 41px;
    border: 1px dashed #d4d4d4;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.tm-marked {
  padding-left: 35px;
}

.tm-marked-orange {
  position: relative;

  &::before {
    content: '';
    background-color: @global-orange;
    display: block;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  i {
    color: @global-orange;
  }
}

.tm-marked-title {
  position: relative;

  &::before {
    content: '';
    background-color: @global-blue;
    display: block;
    width: 5px;
    position: absolute;
    top: 0;
    left: -35px;
    bottom: 0;
  }
}

.tm-airline-title {
  font-size: 20px;
}

.tm-airlines-table {

  th {
    padding: 0 20px 10px;
  }
}

.tm-country-flag {
  padding-right: 70px;
}

.tm-bookmark {
  position: relative;
  padding-left: 18px;

  &::before {
    content: '\f02e';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
  }
}

.tm-sight-title {
  font-family: @font-lato-bold;
  font-size: 20px;
  color: @global-blue;
}

.tm-sights .uk-card {
  padding-bottom: 10px;
  border-bottom: 1px solid @global-border;
}

.tm-sights-medium {

  .tm-sight-title {
    font-size: 30px;
  }

  .fa-star, .fa-star-o {
    font-size: 20px;
  }
}

.tm-sight-card-large {
  min-height: 426px;
  padding: 15px 20px;

  .tm-sight-title {
    font-size: 34px;
    color: inherit;
    line-height: 1.2;
  }

  .fa-star, .fa-star-o {
    font-size: 21px;
  }
}

.tm-country-top {
  min-height: 484px;
  padding: 10px;
  box-sizing: border-box;

  .uk-nav > li > a {
    padding: 3px 0;
  }

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.tm-search-wrap {
  padding: 20px 20px 10px;
  font-size: 20px;

  .uk-input, .uk-select:not([multiple]):not([size]) {
    height: 45px;
  }

  .fa-map-marker, .fa-search {
    font-size: 22px;
  }
}

.tm-search-links {
  font-size: 17px;

  a {
    color: #666;

    &:hover {
      color: #999;
    }
  }
}

.tm-regions-table {
  border-bottom: 1px solid @global-border;

  .tm-title {
    font-family: @font-lato-bold;
    font-size: 20px;
    line-height: normal;
    color: @global-primary-background;

    i {
      font-size: 22px;
    }
  }

  .uk-list {

    ul {
      padding-left: 50px;
    }

    > li > ul {
      margin-top: 5px;
    }
  }

  .uk-list-divider {
    border-top: none;

    > li:nth-child(n+2) {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #e5e5e5;
    }

    > li:first-child {
      padding-top: 0;
    }

    > li:last-child {
      padding-bottom: 0;
    }

    .uk-list-divider {
      border-top: 1px solid @global-border;

      > li:first-child {
        padding-top: 5px;
      }
    }
  }
}

.tm-member {
  width: 26px;
  padding: 1px;
  border: 1px solid @global-orange;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
}

.tm-question-control {
  padding: 7px 20px;
}

.tm-map-wrap {
  height: 146px;
}

.tm-button-map {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.27);

  .fa-angle-double-down {
    position: relative;
    top: 2px;
    padding-top: 0;
    font-size: 17px;
  }
}

.tm-personal-area-dropdown {
  width: 240px;
}

.tm-notice {
  min-width: 16px;
  max-width: 50px;
  padding: 0 5px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 500px;
  background-color: @global-orange;
  box-sizing: border-box;
}

.tm-personal-area-nav {
  padding: 5px 0;
  font-size: 14px;

  > li > a {
    padding: 5px 20px;
  }

  .fa {
    margin-top: -1px;
    line-height: 19px;
    font-size: 16px;
    color: #72a1d2;
  }

  .tm-notice {
    color: #2e547b;
  }
}

.tm-personal-area-subnav {
  margin-left: -8px;
  font-size: 12px;

  > * {
    padding-left: 8px;

    > :first-child {
      position: relative;
      padding: 20px 10px;
      color: @global-color;
      text-transform: uppercase;

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: transparent;
        transition: background-color 0.1s ease-in-out;
      }
    }

    > a:hover, > a:focus {
      color: #000;

      &::before {
        background-color: @global-primary-background;
      }
    }

  }

  > .uk-active > a {
    font-family: @font-lato-bold;

    &::before {
      background-color: @global-primary-background;
    }
  }

  .tm-notice {
    position: absolute;
    top: 6px;
    right: -6px;
  }
}

.tm-personal-area-info {
  padding: 35px 25px 20px;
  background-color: #f1f1f1;

  .uk-iconnav {

    > * > a {
      width: 25px;
      height: 25px;
      line-height: 25px;
      color: @global-color;
      text-align: center;
      border: 1px solid #ccc;
      box-sizing: border-box;

      &:hover  {
        border-color: @global-color;
      }
    }
  }

  .tm-button-text-default {
    min-width: 190px;
  }

  .tm-flag {
    margin-top: -2px;
  }
}

.tm-reply-item {
  position: relative;
  padding: 20px;
  max-width: 582px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    transform: skewY(10deg);
  }

  &::before {
    top: 14px;
    border: 7px solid transparent;
    border-top-color: #bfbfbf;
    border-right-color: #bfbfbf;
  }

  &::after {
    top: 15px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
  }
}

.tm-album-item {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  > * {
    box-shadow: 5px -5px rgba(200, 200, 200, 0.5), 10px -10px rgba(200, 200, 200, 0.5);
  }

  &:hover {
     text-decoration: none;
  }

  .tm-overlay-dark {
    padding: 5px 15px;
    line-height: 18px;
  }
}

.tm-album-counter {
  position: absolute;
  top: 3px;
  right: -6px;
  padding: 3px 5px 0;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background-color: @global-primary-background;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px solid transparent;
    border-top-color: #315a89;
    border-left-color: #315a89;
  }
}

.tm-personal-feature {
  line-height: 1.2;
}

.tm-feedback-item {
  padding: 20px 25px;
}

.tm-radio-success, .tm-radio-danger {

  .uk-radio {
    margin-top: -2px;
    margin-right: 5px;
  }
}

.tm-radio-success {
  color: #3a953a;

  .uk-radio:checked {
    background-color: #3a953a;
  }
}

.tm-radio-danger {
  color: #cf1616;

  .uk-radio:checked {
    background-color: #cf1616;
  }
}

.tm-directory-title {
  line-height: 1;
  font-family: @font-lato-bold;
  font-size: 34px;
}

.tm-dictionary-links {
  padding: 0 5px;
  border: 1px solid @global-orange;

  a {
    display: inline-block;
    line-height: 28px;
    color: #000;

    &:hover, &.tm-active {
      color: #000;
      text-decoration: none;
      background-color: @global-orange;
    }
  }
}

.tm-scoreboard {
  padding: 40px 30px;
  background-color: #414141;

  form .uk-button {
    width: 130px;
    font-family: @font-lato-medium;
    font-size: 20px;
  }

  table {
    color: #fff;
    border-collapse: separate;
    border-spacing: 10px;

    th {
      padding: 0 12px;
      font-family: @font-lato-medium;
      color: #777;
    }

    td {
      position: relative;
      font-size: 17px;
      background-color: #151515;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        border-bottom: 1px solid #2b2b2b;
      }

      > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  .uk-input, .uk-select:not([multiple]):not([size]) {
    height: 42px;
  }

  .uk-input, .uk-select {
    font-family: @font-lato-medium;
    font-size: 20px;
    color: #fff;
    background-color: #323232;
    border: none;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.13), inset 0 1px 0 0 rgba(0, 0, 0, 0.4);
  }

  .uk-form-icon {
    color: #fff;
  }

  .tm-abbreviation {
    color: rgba(255, 255, 255, 0.5);
  }

  .tm-table-wrap {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
  }
}

.tm-scoreboard-airport, .tm-scoreboard-country {
  width: 384px;
  max-width: 100%;
}

.tm-scoreboard-departure, .tm-scoreboard-arrival {
  font-family: @font-lato-medium;
  font-size: 18px;
  text-align: center;
}

.tm-scoreboard-departure {
  width: 120px;
  color: #f16c15;
}

.tm-scoreboard-arrival {
  width: 130px;
  color: #57b544;
}

.tm-divider-arrow {
  margin-right: 3px;
  margin-left: 3px;
}

.tm-vote {
  display: flex;
  flex-direction: row-reverse;

  i + i {
    margin-right: 4px;
  }

  .fa-star-o:hover {

    &::before {
      content: "\f005";
    }

    ~ i::before {
      content: "\f005";
    }
  }
}

.tm-vote-big {
  justify-content: space-around;
  color: @global-light-blue;

  i + i {
    margin-right: 4px;
  }

  .fa-star-o:hover {
    color: @global-orange;

    ~ i {
      color: @global-orange;
    }
  }
}



  // photo
.tm-photo {
  background-color: #e9eef3;
  background-image: url("../images/pattern_bg.png");
}

.tm-foto-add-step-1 {
  padding: 50px 40px;
  line-height: 30px;

  p {
    line-height: 1.3;
  }

  label.uk-button-small {
    line-height: 20px;
  }

  .tm-button-text-default {
    font-family: @font-lato-medium;
  }
}

.tm-foto-add-step-2 {
  padding: 20px 40px 30px 20px;

  .uk-thumbnav {
    margin-left: -7px;

    > * {
      padding-left: 7px;

      > *:after {
        background-color: rgba(0, 0, 0, 0.5);
      }

      > :hover, > :focus {

        &::after {
          background-color: transparent;
          border: 2px solid @global-orange;
        }
      }
    }

    > .uk-active > *::after {
      background-color: transparent;
      border: 2px solid @global-orange;
    }
  }
}


// uk-toggler
[uk-toggle]:not(.uk-toggle-active) {
  [opened-toggle] {
    display: none;
  }
}

.uk-toggle-active {
  [closed-toggle] {
    display: none;
  }
}

/*Media*/

@media (max-width: 959px) {

  .tm-pageheader {
    min-height: 0;
  }

  .tm-foto-add-step-1 {
    padding: 20px;

    h3 {
      line-height: 26px;
    }

    .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin, * + .uk-grid-margin {
      margin-top: 5px;
    }

    .uk-list-divider > li:first-child {
      padding-top: 5px;
    }
  }

  .tm-foto-add-step-2 {
    padding: 20px 20px 30px;
  }

  .tm-last-materials {
    width: 100%;
  }

  .tm-step-image {
    width: 50px;
  }

  .tm-sights-medium {

    .tm-sight-title {
      font-size: 20px;
    }

    .fa-star, .fa-star-o {
      font-size: 16px;
    }
  }
}

@media (max-width: 639px) {

  .uk-modal-body {
    padding: 20px;
  }

  .uk-button-large {
    padding: 0 20px;
  }

  .uk-text-lead {
    font-size: @global-large-font-size;
  }

  .tm-search-header {
    font-size: 18px;

    .uk-form-icon {
      font-size: 20px;
    }

    .uk-form-icon:not(.uk-form-icon-flip) ~ .uk-input {
      padding-left: 36px !important;
    }
  }

  .tm-login {
    padding: 30px 20px 20px;
  }

  .tm-authorization-footer {
    padding: 20px;
  }

  .tm-articles-list {

    .tm-user-about {
      padding-right: 0;
    }

    .uk-article {
      padding: 20px 15px;
    }
  }

  .tm-personal-area-subnav {

    > * {

      > :first-child {
        padding: 10px;
      }
    }
  }

  .tm-foto-add-step-1 {

    .tm-photo-add-list {

      .uk-grid  {
        margin-left: -10px;

        > * {
          padding-left: 10px;
        }
      }

      .uk-form-blank {
        padding: 0;
      }
    }
  }

  .tm-scoreboard {

    table, tbody, th, td, tr {
      display: block;
    }

    thead {
      display: none;
    }

    td + td {
      margin-top: 5px;
    }
    tr + tr {
      margin-top: 10px;
    }

    tr {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      td {
        width: 100% !important;
      }
    }

    .tm-scoreboard-departure, .tm-scoreboard-arrival {
      width: 49% !important;
    }

  }
}
